/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .total-calculator {
    padding: 0px;
  }
  form {
    margin: 0px 10px;
    padding: 36px 0px;
  }
  .result {
    width: 270px;
  }
  .total-calculator {
    width: 335px;
    margin: 0 auto;
  }
  .btn {
    padding: 12px 22px;
    margin: 0px 4px;
    font-size: 17px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .total-calculator {
    padding: 0px;
  }
  form {
    margin: 0px 10px;
    padding: 36px 10px;
  }
  .result {
    width: 270px;
  }
  .total-calculator {
    width: 335px;
    margin: 0 auto;
  }
  .btn {
    padding: 12px 22px;
    margin: 0px 4px;
    font
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
   .total-calculator {
    padding: 0px;
    
  }
  form {
    margin: 0px 10px;
    padding: 36px 0px;
  }
  .result {
    width: 270px;
  }
  .total-calculator {
    width: 335px;
    margin: 0 auto;
  }
  .btn {
    padding: 12px 22px;
    margin: 0px 4px;
    font-size: 17px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .total-calculator {
    padding: 0px;
  }
  form {
    margin: 0px 10px;
    padding: 36px 0px;
  }
  .result {
    width: 270px;
  }
  .total-calculator {
    width: 335px;
    margin: 0 auto;
  }
  .btn {
    padding: 12px 22px;
    margin: 0px 4px;
    font-size: 17px;
  }
}
/* Extra Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}
/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
}
